@font-face {
  font-family: 'Montague Slab', serif;
  src: url(MontaguSlab-VariableFont_opsz,wght.ttf) format(ttf);
  font-display: swap;
}
@media (min-width: 3in) {
    .navbar, .headerbar {
    background-color: rgb(173, 121, 0);
    position: fixed; 
    top: -700px; 
    width: 3%;
    transition: top 1.5s; 
    }

    .navbar a, .headerbar a {
    float: column;
    display: block;
    color: rgb(173, 121, 0);
    text-align: left;
    padding: 15px;
    text-decoration: none; 
    font-size: 30px;
    font-weight: bolder;
    }

    .navbar a:hover, .headerbar a:hover {
        background-color: rgb(0, 27, 33);
    }

    .navbar a:active, .headerbar a:active {
        text-decoration: underline;
        background-color: rgb(0, 27, 33);

    }

        /* Individual letter styles */
        .A a{
            color: rgb(0, 27, 33);
        }
        .B a{
            color: rgb(0, 27, 33);
        }
        .C a{
            color: rgb(0, 27, 33);
        }
        .D a{
            color: rgb(173, 121, 0);
            background-color: rgb(0, 27, 33);
        }

            .A a:hover, A a:active {
                color: rgb(173, 121, 0);
            }
            .B a:hover, .B a:active {
                color: rgb(173, 121, 0);
            }
            .C a:hover, .C a:active {
                color: rgb(173, 121, 0);
            }
            .D a:hover, .D a:active {
                color: rgb(173, 121, 0);
            }


    .flex-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: flex-end;
    }

    body {
    font-family: 'Montague Slab', serif;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    font-weight: normal;
    background-color: rgb(0, 27, 33);
    color: black;
    text-align: center;
    border: 3.5vw double rgb(173, 121, 0);;
    padding: 2em;
    } 

    .wrapper {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    }



    .heading {
    margin-top: -150px;
    margin-left: 40px;
    text-align: center;
    font-weight: bolder;
    letter-spacing: -1px;
    font-size: 200px;
    line-height: 110px;
    
    }

    .header {
        text-align: center;
        font-weight: bolder;
        color: rgb(255, 77, 0);
        
    }
    
    .subheader {
        margin-top: -200px;
        text-align: center;
        color: rgb(163, 197, 69);
    }

    .entries1, .entries2, .entries3  {
        margin-left: 50px;
        margin-right: 50px;
    }
        .chapter {
            letter-spacing: -4px;
            font-weight: bolder;
            font-size: 50px;
            color: rgb(236, 122, 0);
            margin-bottom: -7px;
        }

            .chapterNum {
                letter-spacing: 10px;
                font-weight: lighter;
                font-size: 60px;
                font-weight: bolder;
                color: rgb(173, 121, 0);
                letter-spacing: -5px;
                margin-bottom: -70px;
            }
        
        .description {
            margin-top: 50px;
            color: rgb(0, 180, 235);
            letter-spacing: 10px;
        }
            
        .page {
            margin-top: 10px;
            font-weight: lighter;
            letter-spacing: -3px;
            color: rgb(174, 187, 78);
        }

        .footer {
            line-height: 25px;
            text-align: right;
            font-family: 'Montague Slab', serif;
            margin-right: 20px;
            margin-bottom: -50px;
            color: rgb(192, 127, 195);
        }
    

    .entries1 {
        text-align: right;
        
    }

    .entries2 {
        text-align: center;
    }

    .entries3 {
        text-align: left;
    }


    .toptexts2 {
      animation: fadeEffect 10s; 
   }
   
   @keyframes fadeEffect { 
      from {opacity: 0;}
      to {opacity: 100%;}
   }
}   