
/* NavBar G A R D E N */

.navbar, .headerbar {
    background-color: #033a2f; 
    position: fixed; 
    top: -100px; 
    width: 100%; 
    transition: top 0.5s; 
    }
   
.navbar a, .headerbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-weight: bolder;
    font-size: 40px;
}
  
    .navbar a:hover, .headerbar a:hover {
        background-color: #ddd;
    }

    .navbar a:active, .headerbar a:active {
        text-decoration: underline;
        background-color: #ddd;

    }

        /* Individual letter styles */
        .G a{
            color: #9AB400;
        }
        .A a{
            color: #FF92B2;
        }
        .R a{
            color: #6CB9FF;
        }
        .D a{
            color: #FF9900;
        }
        .E a{
            color: #FFE7EE;
        }
        .N a{
            color: #8EFFE4;
        }

            .G a:hover, G a:active {
                color: #556603;
            }
            .A a:hover, .A a:active {
                color: #7d1f3d;
            }
            .R a:hover, .R a:active {
                color: #1a4a78;
            }
            .D a:hover, .D a:active {
                color: #6a470f;
            }
            .E a:hover, .E a:active {
                color: #5c0b21;
            }
            .N a:hover, .N a:active {
                color: #0c4a5d;
            }


@media (min-width: 500px) {
    body {
        font-family: Arial, Helvetica, sans-serif;
        background-color: #001D15;
        white-space: normal;
        vertical-align: top;
        display: inline-block;
        margin-right: 80px;
        margin-left: 80px; 
    }

    .flex-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: flex-end;
    }


    /* Elian - Core - Feb */

    .header0A, .header0B {
        font-weight: lighter;
        font-size: 11px;
        color: #b9e9df;
        text-align: center;
        flex-wrap: wrap;
        float: center;
    }

    /* The Garden of Forking Path*/

    .heading1 {
        font-weight: bolder;
        text-align: left;
        font-size: 80px;
        letter-spacing: -7px;
        color: #0084ff;
        margin-bottom: -40px;
        margin-top: -10px;
    }
        
    /* On labrynths and simultaneous, branching realities. */

    .subheading2 {
        font-weight: bold;
        text-align: left;
        margin-top: 25px;
        margin-left: 10px;
        margin-bottom: -25px;
        font-size: 20px;
        letter-spacing: -1px;
        color: #7086bd;
        font-family: 'Paprika', sans-serif;
    }


    /* By Jorge Luis Borges*/

    .subheading1 a {
        font-weight: lighter;
        text-align: left;
        font-size: 30px;
        letter-spacing: -3px;
        color: #ffffff;
        margin-left: 10px;
        text-decoration: none;
    }

    .subheading1 a:hover {
        color: lightseagreen;
    }

    /* Narration */

    .instruction1 a, .instruction2 a, .instruction3 a {
        font-weight: lighter;
        font-size: 13px;
        color: #08281f;
        text-align: center;
        line-height: 40px;
        font-family: 'Paprika', sans-serif;
        float: right;
        margin: 10px;
        margin-top: 100px;
        margin-right: 300px;
        text-decoration: none;
    }

        .instruction1 a:hover, .instruction2 a:hover {
            color: #006b80;
        }

        .instruction3 a {
            float: right;
            margin-right: 430px;
            margin-bottom: 100px;
        }

        .instruction3 a:hover {
            color: #006b80;
        }

    .instruction2 a {
        font-weight: lighter;
        font-size: 13px;
        color: #08281f;
        text-align: center;
        line-height: 40px;
        font-family: 'Paprika', sans-serif;
        float: left;
        text-decoration: none;
        margin: 20px;
        margin-top: 150px;
    }
        .instruction2 a:hover {
            color: #006b80;
        }

    .flowers a{
        text-decoration: none;
        font-weight: lighter;
        font-size: 13px;
        color: #31574c;
        line-height: 40px;
        font-family: 'Paprika', sans-serif; 
        text-decoration: none;
        text-align: center;
    }
    
    .paragraphs {
        color: #6875b6;
        text-decoration: none;
        font-weight: lighter;
        line-height: 25px;
        font-family: 'Paprika', sans-serif; 
        text-decoration: none;
        text-align: right;
    }


        .flower1 a {
           float: left;
           color: rgb(29, 85, 183);
        }

        .flower2 a {
            float: right;
            color:rgb(111, 159, 223);
        }

        .flower3 a {
            float: left;
            text-align: center;
            align-content: center;
            color:rgb(132, 144, 154);
            margin-bottom: -100px;
        }
         
        .paragraph1 {
            font-size: 7px;
            float: left;
            color: rgb(160, 194, 253);
        }

        .paragraph2 {
            font-size: 13px;
            text-align: center;
            float: right;
            color:rgb(3, 68, 154);
        }

        .paragraph3 {
            font-size: 10px;
            float: left;
            text-align: left;
            color:rgb(54, 164, 255);
        }



















        .toptexts2 {
            animation: fadeEffect 40s; 
         }
         
         @keyframes fadeEffect { 
            from {opacity: 0;}
            to {opacity: 100%;}
         }
}

