
@media (min-width: 3in) {
    .navbar, .headerbar {
    background-color: rgb(173, 0, 52);
    position: fixed; 
    top: -700px; 
    width: 3%;
    transition: top 1.5s; 
    }

    .navbar a, .headerbar a {
    float: column;
    display: block;
    color: rgb(173, 0, 52);
    text-align: left;
    padding: 15px;
    text-decoration: none; 
    font-size: 30px;
    font-weight: bolder;
    }

    .navbar a:hover, .headerbar a:hover {
        background-color: rgb(229, 250, 255);
    }

    .navbar a:active, .headerbar a:active {
        text-decoration: underline;
        background-color: rgb(229, 250, 255);

    }

        /* Individual letter styles */
        .A a{
            color: rgb(229, 250, 255);
        }
        .B a{
            color: rgb(229, 250, 255);
        }
        .C a{
            color: rgb(173, 0, 52);
            background-color: rgb(229, 250, 255);
        } 
        .D a{
            color: rgb(229, 250, 255);
        }

            .A a:hover, A a:active {
                color: rgb(173, 0, 52);
            }
            .B a:hover, .B a:active {
                color: rgb(173, 0, 52);
            
            }
            .D a:hover, .D a:active {
                color: rgb(173, 0, 52);
            }


    .flex-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: flex-end;
    }

    body {
    font-family: sans-serif;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    font-weight: normal;
    background-color: rgb(247, 234, 245);
    color: rgb(63, 0, 36);
    text-align: center;
    border: 1.6vw solid rgb(74, 5, 55);
    padding: 2em;
    } 

    .wrapper {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    }



    .heading {
    margin-top: -150px;
    margin-left: 40px;
    text-align: left;
    font-weight: bolder;
    letter-spacing: -1px;
    font-size: 200px;
    line-height: 110px;
    
    }

    .header {
        text-align: left;
        font-weight: bolder;
        color: rgb(74, 5, 55);
        letter-spacing: -25px;
        
    }
    
    .subheader {
        margin-top: -200px;
        text-align: left;
        color: rgb(143, 1, 108);
        letter-spacing: -25px;
    }

    .entries1, .entries2, .entries3  {
        margin-left: 50px;
        margin-right: 50px;
    }
        .chapter {
            letter-spacing: 10px;
            font-weight: bolder;
            font-size: 30px;
            color: rgb(194, 0, 139);
        }

            .chapterNum {
                letter-spacing: 10px;
                font-weight: lighter;
                font-size: 40px;
                font-weight: bolder;
                color: rgb(173, 0, 52);
                letter-spacing: -5px;
            }
        
        .description {
            margin: 0;
            color: rgb(46, 135, 162);
        }
            
        .page {
            margin-top: 10px;
            font-weight: lighter;
            letter-spacing: -3px;
            color: rgb(92, 104, 113);
        }

        .footer {
            line-height: 25px;
            text-align: right;
            font-family: 'Montague Slab', serif;
            margin-right: 20px;
            margin-bottom: -50px;
            color: rgb(92, 104, 113);
        }
    

    .entries1 {
        text-align: right;
        
    }

    .entries2 {
        text-align: center;
    }

    .entries3 {
        text-align: left;
    }

}   