@font-face {
    font-family: 'Montague Slab', serif;
    src: url(MontaguSlab-VariableFont_opsz,wght.ttf) format(ttf);
    font-display: swap;
  }
   
  body {
    font-family: 'Montague Slab', serif;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    font-weight: normal;
    background-color: aliceblue;
    color: black;
    text-align: center;
  } 
  
  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  

  
  .heading {
    margin: 20px;
    text-align: center;
    font-weight: bolder;
  }

    .header {
        text-align: left;
        font-weight: bolder;
        font-weight: italic;
    }
    
    .subheader {
        margin-top: -40px;
        text-align: right;
    }


    .chapter {
        letter-spacing: 10px;
        font-weight: bolder;
    }

        .chapterNum {
            letter-spacing: 10px;
            font-weight: lighter;
        }
    
    .description {
        margin: 0;
        font-weight: italic;
    }
        
    .page {
        margin-top: 10px;
        font-weight: lighter;
    }

  .footer {
    line-height: 2px;
  }
  