/* Background */
body {
	position: absolute;
	width: 1505.5px;
	height: 1420px;

	background-color: linear-gradient(359.4deg, #00B2FF 0.49%, #82D9FF 42.25%, #CFF1FF 57.71%, #FFFFFF 80.91%);
}

.flexbox {
    display: flex;
    position: relative;
    flex-wrap: wrap;
}

/* Table Top */

position: absolute;
width: 1142px;
height: 287.5px;

background: radial-gradient(50% 50% at 50% 50%, #B1B1B1 0%, #FFFFFF 100%);


/* Table Front */

position: absolute;
width: 877px;
height: 47px;

background: linear-gradient(180deg, #494949 -131.91%, #FFFFFF 309.57%);


/* CODING */

position: absolute;
width: 481px;
height: 110px;

font-family: 'Assistant';
font-style: normal;
font-weight: 800;
font-size: 160px;
line-height: 76px;
/* or 48% */
display: flex;
align-items: center;
letter-spacing: -0.13em;

color: #487F8B;



/* STILL */

position: absolute;
width: 884px;
height: 220px;

font-family: 'Assistant';
font-style: normal;
font-weight: 200;
font-size: 302px;
line-height: 104px;
/* or 34% */
display: flex;
align-items: center;
letter-spacing: -0.295em;

color: #C6ECF4;



/* Table Left */

position: absolute;
width: 266px;
height: 334px;

background: linear-gradient(220.54deg, #FFFFFF 19.12%, #8A8A8A 92.09%);


/* Fabric */

position: absolute;
width: 227.5px;
height: 60px;

background: #3285A9;
border: 1px solid #297C9F;
box-shadow: -40px 30px 40px rgba(0, 0, 0, 0.1);


/* sphere */

position: absolute;
width: 124px;
height: 123px;

background: #020202;
box-shadow: -40px 30px 40px rgba(0, 0, 0, 0.1);


/* gleam */

position: absolute;
width: 15px;
height: 49px;

background: #E0E0E0;
transform: rotate(6.32deg);


/* display */

box-sizing: border-box;

position: absolute;
width: 67px;
height: 67px;

background: #141414;
border: 2px solid #2B2A2A;


/* center */

box-sizing: border-box;

position: absolute;
width: 114px;
height: 114px;

border: 20px solid #AC9762;
filter: drop-shadow(-40px 30px 40px rgba(0, 0, 0, 0.1));


/* tape */

box-sizing: border-box;

position: absolute;
width: 124px;
height: 124px;

filter: drop-shadow(-40px 30px 40px rgba(0, 0, 0, 0.1));


/* Rectangle 1 */

position: absolute;
width: 50px;
height: 90px;

background: linear-gradient(180deg, #9A8E4E 0%, #D6C77C 100%);
box-shadow: -40px 30px 40px rgba(0, 0, 0, 0.1);


/* Vector 1 */

position: absolute;
width: 65px;
height: 11px;

background: #A79C61;


/* Vector 2 */

position: absolute;
width: 15px;
height: 100px;

background: linear-gradient(178.34deg, #9C904F 1.41%, #CCBE74 97.7%);


/* Vector 3 */

position: absolute;
width: 44px;
height: 39px;

background: radial-gradient(89.29% 89.29% at 50% 50%, #FFFCEA 0%, #B7B190 86.47%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;


/* Vector 4 */

position: absolute;
width: 84.5px;
height: 216.25px;

background: linear-gradient(180deg, #FCFF64 7.29%, #FFD300 23.96%, #FAF6E3 81.77%);
box-shadow: 0px 100px 200px #FFD300;


/* Vector 5 */

position: absolute;
width: 183.5px;
height: 116.94px;

background: radial-gradient(109.52% 85.98% at 49.86% 14.02%, #8E8451 0%, #D3CFB5 37.5%, #BBA876 76.56%, #AC7F3C 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
box-shadow: 0px 100px 90px rgba(255, 211, 0, 0.5);


/* Egg */

position: absolute;
width: 229px;
height: 137px;

background: radial-gradient(50.82% 56.43% at 31.99% 50.14%, #DCD6B7 0%, #B4AA77 51.56%, #9C904F 100%);


/* Life */

position: absolute;
width: 492px;
height: 94px;

font-family: 'Assistant';
font-style: normal;
font-weight: 800;
font-size: 160px;
line-height: 76px;
/* or 48% */
display: flex;
align-items: center;
letter-spacing: -0.13em;

color: #C6ECF4;