
body {
    background: linear-gradient(359.4deg, #00B2FF 0.49%, #82D9FF 42.25%, #CFF1FF 99.47%);
    width: 1676px;
    height: 1681px;
    left: 0px;
    top: 0px;
}

.flexbox {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    background: linear-gradient(359.4deg, #00B2FF 0.49%, #82D9FF 42.25%, #CFF1FF 99.47%);
}
    
/* WIKIPEDIA */
.still {
    
    position: absolute;
    width: 884px;
    height: 220px;
    left: 94px;
    top: 67px;

    /* font styling */
    font-family: Arial;
    font-style: normal;
    font-size: 272px;
    line-height: 104px;
    /* or 34% */
    display: flex;
    align-items: center;
    letter-spacing: -30px;
    
    

    color: #ffffff;

}

.coding {
    position: absolute;
    width: 963px;
    height: 98px;
    left: 494px;
    top: 127px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: bolder;
    font-size: 269px;
    line-height: 76px;
    /* or 28% */
    display: flex;
    align-items: center;
    letter-spacing: -0.13em;

    color: #FFFFFF;

}

/* life */
.life {
    /* Life */

    position: absolute;
    width: 492px;
    height: 277px;
    left: 350px;
    top: 30px;

    font-family: 'Lora';
    font-style: italic;
    font-weight: 400;
    font-size: 222px;
    line-height: 76px;
    /* or 30% */
    display: flex;
    align-items: center;
    letter-spacing: -0.135em;

    color: #00567a;
}

.top {
    position: absolute;
    width: 1142px;
    height: 500px;
    left: 172.5px;
    top: 900px;
    transform: skew(20deg);

    background: radial-gradient(50% 50% at 50% 50%, #989898 05%, #FFFFFF 150%);
}

.corner {
    position: absolute;
    width: 0;
	height: 0;
	border-left: 18px solid transparent;
	border-right: 35px solid transparent;
    top: 900px;
    left: 64.5px;
    
    border-bottom: 50px solid rgb(255, 255, 255);
}

.side {
    position: absolute;
    width: 47px;
    height: 500px;
    top: 947px;
    left: 155px;
    transform: skew(-160deg);

    background: linear-gradient(220.54deg, #FFFFFF 19.12%, #8A8A8A 92.09%);
}

    /* Table Front */
.front {
    position: absolute;
    width: 1142px;
    height: 47px;
    top: 1400px;
    left: 255px;
    transform: skew(-20deg);
    
    background: linear-gradient(150deg, #494949 -16.91%, #FFFFFF 200.57%);
    
}   

.fabric {
    position: absolute;
    width: 250px;
    height: 120px;
    left: 270px;
    top: 930px;
    transform: skew(-200deg);
    -webkit-transform: rotate(10deg);

    background: #3285A9;
    border: 1px solid #297C9F;
    box-shadow: -40px 30px 40px rgba(0, 0, 0, 0.1);
}

.ball {
    position: absolute;
    width: 225px;
    height: 224px;
    left: 307px;
    top: 797px;
    border-radius: 50%;

    background: #020202;
    box-shadow: -40px 30px 40px rgba(0, 0, 0, 0.1);
}

.gleam1 {
    left: 332.75px;
    top: 857.17px;
    position: absolute;
    height: 70px;
    width: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;

}
.gleam2 {
    position: absolute;
    width: 0;
	height: 0;
	border-left: 2px solid transparent;
	border-right: 15px solid transparent;
    top: 910px;
    left: 334.5px;
    -webkit-transform: rotate(-180deg);
    
    border-bottom: 50px solid rgb(255, 255, 255);
}

.display {
    box-sizing: border-box;

    position: absolute;
    width: 122px;
    height: 122px;
    left: 392px;
    top: 848px;
    border-radius: 50%;

    background: #141414;
    border: 2px solid #2B2A2A;

}


.tape {
    position: absolute;
    width: 186px;
    height: 186px;
    left: 744px;
    top: 862px;
    border-radius: 50%;

    background: radial-gradient(#2564C2, darkblue);
    box-shadow: -40px 30px 40px rgba(0, 0, 0, 0.1);
}

.roll {
    position: absolute;
    width: 102px;
    height: 103px;
    left: 787px;
    top: 908px;

    background: #AC9762;
    border-radius: 50%;
    
    box-shadow: -40px 30px 40px rgba(0, 0, 0, 0.1);
}

.cutout {
    position: absolute;
    width: 87px;
    height: 88px;
    left: 794px;
    top: 916px;
    border-radius: 50%;
    
    background: #b7b7b7;
}

.perfume1 {
    position: absolute;
    width: 91.5px;
    height: 20px;
    left: 463px;
    top: 977px;
    transform: skew(-45deg);

    background: #A79C61;
}

.perfume2 {
    position: absolute;
    width: 35px;
    height: 184px;
    left: 530px;
    top: 977px;
    
    background: linear-gradient(178.34deg, #9C904F 1.41%, #CCBE74 97.7%);
}

.perfume3 {
    position: absolute;
    width: 91px;
    height: 164px;
    left: 453px;
    top: 996.5px;
    
    background: linear-gradient(180deg, #9A8E4E 0%, #D6C77C 100%);
    box-shadow: -40px 30px 40px rgba(0, 0, 0, 0.1);
}

.cap1 {
    position: absolute;
    width: 72px;
    height: 72px;
    left: 476px;
    top: 922px;

    background: radial-gradient(80.56% 80.56% at 50% 19.44%, #EBE4C8 0%, #BBA774 100%);
    border-radius: 50%;
    
    
     
}

.cap2 {
    position: absolute;
    width: 72px;
    height: 32px;
    left: 476px;
    top: 956px;
    
    background: radial-gradient(100% 100% at 50% 0%, #DBD0AC 0%, #D3C69F 29.69%, #B8A574 73.44%, #AC9762 100%);
}

.cap3 {
    position: absolute;
    width: 72px;
    height: 13px;
    left: 476px;
    top: 981px;
    border-radius: 50%;
    
    background: #AC9762;
}

.base {
    position: absolute;
    width: 154px;
    height: 394px;
    left: 908px;
    top: 783px;
    
    background: linear-gradient(180deg, #FCFF64 7.29%, #FFD300 23.96%, #FAF6E3 81.77%);
    box-shadow: 0px 100px 200px #FFD300;
}

.base2 {
    position: absolute;
    width: 154px;
    height: 394px;
    left: 908px;
    top: 783px;
    
    background: #D9CFA2;
}

.lamp1 {
    position: absolute;
    width: 334px;
    height: 187px;
    left: 817px;
    top: 606px;
    border-radius: 50%;
    
    background: radial-gradient(100% 100% at 50% 0%, #EFE1A2 0%, #E2DBB8 35.42%, #E7DA9D 60.42%, #F9EDB8 83.85%);
}
.lamp2 {
    position: absolute;
    width: 334px;
    height: 85px;
    left: 817px;
    top: 693px;
    
    background: radial-gradient(100% 100% at 50% 0%, #E4DAAC 2.08%, #E5DAA3 26.04%, #E7DA9D 62.5%, #ECE0A5 100%);
}
.lamp3 {
    position: absolute;
    width: 335px;
    height: 45px;
    left: 816px;
    top: 755px;
    border-radius: 50%;
    
    background: radial-gradient(100% 100% at 50% 0%, #EBDFA3 0%, #ECE0A5 35.42%, #ECE0A5 60.42%, #E4D27C 83.85%);
    box-shadow: -40px 30px 40px rgba(0, 0, 0, 0.1);
}
.lamp4 {
    position: absolute;
    width: 334px;
    height: 187px;
    left: 817px;
    top: 606px;
    border-radius: 50%;
    
    background: radial-gradient(100% 100% at 50% 0%, #EFE1A2 0%, #E2DBB8 35.42%, #E7DA9D 60.42%, #F9EDB8 83.85%);
}
.lamp5 {
    position: absolute;
    width: 334px;
    height: 85px;
    left: 817px;
    top: 693px;
    
    background: radial-gradient(100% 100% at 50% 0%, #E4DAAC 2.08%, #E5DAA3 26.04%, #E7DA9D 62.5%, #ECE0A5 100%);
}
.lamp6 {
    position: absolute;
    width: 335px;
    height: 45px;
    left: 816px;
    top: 755px;
    border-radius: 50%;
    
    background: #D9CFA2;
    background: radial-gradient(100% 100% at 50% 0%, #EBDFA3 0%, #ECE0A5 35.42%, #ECE0A5 60.42%, #E4D27C 83.85%);
}
.egg {
    position: absolute;
    width: 428px;
    height: 295px;
    left: 530px;
    top: 1013px;
    
    background: radial-gradient(42.77% 42.58% at 41.1% 47.69%, #E8E1C3 0%, #B8B193 42.71%, #A79F82 61.98%, #9D9575 80.73%, #948B69 94.27%, #928865 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    
    border-radius: 50%;
  
}   







.tape-roll {
    position: relative;
    animation: roll 2s ease-in-out infinite;
  }
  
  @keyframes roll {
    0% {
      transform: translateX(0);
    }
    50% {
      transform: translateX(100px);
    }
    100% {
      transform: translateX(0);
    }
  }
  

  .display {
    position: absolute;
    width: 122px;
    height: 122px;
    left: 392px;
    top: 848px;
    border-radius: 50%;
    animation: flicker 01s infinite;
  }
  

  @keyframes flicker {
    0% {
      background-color: rgb(69, 92, 150);
    }
    50% {
      background-color: rgb(13, 0, 47);
    }
    100% {
      background-color: rgb(126, 115, 164);
    }
  }

  
  
  

  .display::before {
    content: "ERROR";
    font-family: sans-serif;
    position: absolute;
    margin-top: 5.4vw;
    top: -30px;
    left: 55%;
    transform: translateX(-50%);
    color: #ffffff;
    font-weight: lighter;
    font-size: 18px;
    text-align: center;
    letter-spacing: -1px;
  }


  
  .base, .lamp1, .lamp2, .lamp3 {
    animation: toggleColors 2s infinite alternate;
  }
  
  @keyframes toggleColors {
    0% {
      background: linear-gradient(180deg, #FCFF64 7.29%, #FFD300 23.96%, #FAF6E3 81.77%);
      box-shadow: 0px 100px 200px #FFD300;

    }
    50% {
      background: #D9CFA2;
      box-shadow: none;
    }
    80% {
      background: linear-gradient(180deg, #FCFF64 7.29%, #FFD300 23.96%, #FAF6E3 81.77%);
      box-shadow: 0px 100px 200px #FFD300;

    }
    100% {
      background: linear-gradient(180deg, #FCFF64 7.29%, #FFD300 23.96%, #FAF6E3 81.77%);
      box-shadow: 0px 100px 200px #FFD300;

    }
  }


















































