






































.ignore {

color: #007FFF;
color: #8A3324;
color: #FF6103;
color: #FFEF00;
color: #DC143C;
color: #228B22;
color: #4CBB17;
color: #FDFF00;
color: #FF00FF;
color:#000080;
color: #808000;
color: #FF2400;
color:#882D17;
color: #40E0D0;
color:#5F9EA0;
color:#FF6B6B;
color:#2F4F4F;
color:#E56E94;
color:#FDB813;
color:#CD5C5C;
color:#C71585;
color:#FA8072;
color: #008080;
color:#F0C987;

}

/*


Bright Blue (#007FFF)
Burnt Umber (#8A3324)
Cadmium Orange (#FF6103)
Canary Yellow (#FFEF00)
Crimson (#DC143C)
Forest Green (#228B22)
Kelly Green (#4CBB17)
Lemon Yellow (#FDFF00)
Magenta (#FF00FF)
Navy Blue (#000080)
Olive Green (#808000)
Poppy Red (#FF2400)
Sienna (#882D17)
Turquoise (#40E0D0)
Cadet Blue (#5F9EA0)
Coral (#FF6B6B)
Dark Slate Gray (#2F4F4F)
Fuchsia Pink (#E56E94)
Golden Yellow (#FDB813)
Indian Red (#CD5C5C)
Medium Violet Red (#C71585)
Salmon (#FA8072)
Teal (#008080)
Wheat (#F0C987)


*/