* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial;
    margin: 0;
    color: rgb(84, 84, 84);
    background-color: #f8f8f8;
  }
  
  .card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
  }

  .card {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: left;
    padding: 40px;
  }

  p, h1, h2 {
    color: aliceblue;
    color: rgb(85, 85, 89);
  }
  
  .color {
    height: 200px;
  }
  
  .color-name {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
    color: rgb(105, 106, 107);

  }
  
  .color-hex {
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 20px;
    color: rgb(105, 106, 107);
  }
  
  .color-artwork {
    font-size: 14px;
    margin-top: 10px;
    margin-bottom: 20px;
    color: rgb(105, 106, 107);
  }
  
  @media (max-width: 768px) {
    .card-grid {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 10px;
      padding: 10px;
    }
  }
  
  @media (max-width: 480px) {
    .color-name {
      font-size: 20px;
    }
    
    .color-hex {
      font-size: 14px;
    }
    
    .color-artwork {
      font-size: 12px;
    }
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  
  
  .header-buttons {
    display: flex;
  }
  
  .header-buttons a {
    display: block;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    border-radius: 50%;
  }
  
  .header-buttons a:hover {
    opacity: 0.8;
  }
  
  

  .button {
    display: inline-block;
    padding: 15px 20px;
    font-family: Arial;
    background-color: #4CBB17;
    color: #f8f8f8;
    font-size: 1.7vw;
    font-weight: bold;
    text-decoration: none;
    border-radius: 90px;
    transition: background-color 0.2s ease-in-out;
  }
  
  .button:hover {
    background-color: #cdcdcd;
    color: rgb(38, 38, 41);
  }
  

		body {
			margin: 0;
			padding: 0;
			font-family: Arial;
            letter-spacing: -.7px;
		}
		.header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			background-color: #f8f8f8;
			padding: 20px;
			color: rgb(106, 53, 53);
            font-family: Arial;
		}



        .title {
            color: #1d1f22;
            font-size: 5.5vw;
            font-family: 'arial';
            font-weight: bolder;
            text-align: center;
            letter-spacing: -8px;
            word-spacing: 20px;
            margin-top: 1vw;
        }

        .button-container {
            margin-top: -2vw;
        }