@font-face {
  font-family: 'Montague Slab';
  src: url(MontaguSlab-VariableFont_opsz,wght.ttf) format(ttf);
  font-display: swap;
}
 
body {
    color: navy;
    font-family: 'Montague Slab';
  }
  
  .wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  
  .header {
    line-height: .7;
    letter-spacing: -10px;
    font-weight: bolder;
    font-size: 150px;
    margin-top: 40px;
    margin-bottom: 50px;
  }

  .links a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 26px;
    font-weight: 400;
    line-height: 4;
    text-decoration: none;
  }
  

  
  .links a {
    color: navy;
    text-decoration: none;
    border-bottom: 1px solid;
    margin-bottom: 36px;
  }
  
  .links a:hover {
    border-bottom: 1px dotted;
    color: darkcyan;
  }