* {
	box-sizing: border-box;
}

body {
	background: rgb(39, 0, 15);
	margin: 0;
	flex-direction: row;
	flex: auto;
	flex-wrap: wrap;
}

.canvas {
	max-width: 900px;
	height: 550px;
	margin: 100px auto;
	background: linear-gradient(rgb(255, 226, 239), rgb(217, 0, 126));
	position: relative;
}



	