
/* NavBar G A R D E N */

.navbar, .headerbar {
    background-color: #033a2f; 
    position: fixed; 
    top: -100px; 
    width: 100%; 
    transition: top 0.5s; 
    }
  
.navbar a, .headerbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-weight: bolder;
    font-size: 40px;
}
  
    .navbar a:hover, .headerbar a:hover {
        background-color: #ddd;
    }

    .navbar a:active, .headerbar a:active {
        text-decoration: underline;
        background-color: #ddd;

    }

        /* Individual letter styles */
        .G a{
            color: #9AB400;
        }
        .A a{
            color: #FF92B2;
        }
        .R a{
            color: #6CB9FF;
        }
        .D a{
            color: #FF9900;
        }
        .E a{
            color: #FFE7EE;
        }
        .N a{
            color: #8EFFE4;
        }

            .G a:hover, G a:active {
                color: #556603;
            }
            .A a:hover, .A a:active {
                color: #7d1f3d;
            }
            .R a:hover, .R a:active {
                color: #1a4a78;
            }
            .D a:hover, .D a:active {
                color: #6a470f;
            }
            .E a:hover, .E a:active {
                color: #5c0b21;
            }
            .N a:hover, .N a:active {
                color: #0c4a5d;
            }


@media (min-width: 530px) {
    body {
        font-family: Arial, Helvetica, sans-serif;
        background-color: #001D15;
        white-space: normal;
        vertical-align: top;
        display: inline-block;
        margin-right: 80px;
        margin-left: 80px; 
    }

    .flex-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
	    align-content: space-between;
    }


    /* Elian - Core - Feb */

    .header0A, .header0B {
        font-weight: lighter;
        font-size: 11px;
        color: #b9e9df;
        text-align: center;
        flex-wrap: wrap;
    }

    /* The Garden of Forking Path*/

    .heading1 {
        font-weight: bolder;
        text-align: left;
        font-size: 80px;
        letter-spacing: -7px;
        color: #0091ff;
        margin-bottom: -40px;
    }

    .heading1B {
        font-weight: bolder;
        text-align: left;
        font-size: 60px;
        letter-spacing: -7px;
        color: #00f2ff;
        margin-bottom: -70px;
    }
        
    /* On labrynths and simultaneous, branching realities. */

    .subheading2 {
        font-weight: bold;
        text-align: left;
        margin-top: 25px;
        margin-left: 10px;
        margin-bottom: -25px;
        font-size: 20px;
        letter-spacing: -1px;
        color: #02455b;
        font-family: 'Paprika', sans-serif;
    }


    /* By Jorge Luis Borges*/

    .subheading1 a {
        font-weight: lighter;
        text-align: left;
        font-size: 40px;
        letter-spacing: -3px;
        color: #ffffff;
        margin-left: 10px;
        text-decoration: none;
    }

    .subheading1 a:hover {
        color: lightseagreen;
    }

    /* Narration */

    .paragraph {
        font-weight: lighter;
        font-size: 17px;
        color: #a8d3cb;
        text-align: left;
        line-height: 40px;
        font-family: 'Paprika', sans-serif;
        float: left;
        margin: 10px;
        margin-top: 100px;
    }









}

