
:root {
	--spacing: 15px;
}

/*  General page styling */
body {
	font-family: Arial;
	cursor: default;
	max-width: 100%;
	height: 11000px;
	
	background: #20A3B5;

    font-family: Arial, Helvetica, sans-serif;
	margin-left: 7vw;
	margin-left: 7vw;
}


  /*navbar 2*/

	.navbar, .headerbar {
		background: #463300;
		position: fixed; 
		width: 8vw;
	    font-weight: bolder;
	}
	.navbar a, .headerbar a {
		float: column;
		background: #463300;
		text-align: center;
		text-decoration: none; 
		font-size: 5vw;
	}
	.navbar a:hover, .headerbar a:hover {
		background: #463300;
	}
		/* Individual letter styles */
		.page1 a{
			background: #f9b236;
			padding-left: 28.5%;
			padding-right: 5.9vw;
			padding-top: 55px;
			padding-bottom: 55px;
			max-width: 145px;

			font-weight: 700;
			font-size: 1.3vw;
			
			display: flex;
			align-items: center;
			letter-spacing: -0.07em;
			
			color: #ffffff;
			
		}
		.page2 a{
			background: #c68100;

			padding-top: 55px;
			padding-left: 13%;
			padding-bottom: 55px;
			padding-right: 7.24vw;
			max-width: 145px;
			
			
			font-weight: 700;
			font-size: 1.3vw;
			/* or 12px */
			display: flex;
			text-align: center;
			letter-spacing: -0.07em;
			
			color: #ffffff;
		}
			.page1 a:hover {
				background: #faeabb;
				color: #20A3B5;

			}
			.page2 a:hover {
				background: #faeabb;
				color: #20A3B5;

			}



.tagline {
	height: 1vw;
	
	font-weight: 100;
	font-style: italic;
	font-size: 1.7vw;
	
	display: flex;
	align-items: center;
	letter-spacing: 3.5px;
	max-width: 50vw;

	margin-top: -1vw;
	margin-left: 11vw;
	
	color: #007094;
	
}

.textlog {
	font-family: serif;
    font-weight: bolder;
	font-style: italic;

	font-size: 18vw;

	display: flex;
	align-items: center;
	letter-spacing: -2vw;

	margin-left: 9.5vw;
	
	color: #A3D7FF;

	
}


.month {
	margin-top: 8vw;
	font-family: serif;
	font-style: italic;
	font-size: 14vw;
	font-weight: bolder;

	letter-spacing: -20px;
	
	color: #8db9c6;
	
}

h1 {
	font-style: normal;
    font-weight: bolder;
	font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-size: 4vw;

    color: rgba(0, 132, 255, 0.861);
	margin-left: 1.5vw;
	margin-bottom: -1vw;
	letter-spacing: -10px;
}

h2 {
    font-style: normal;

	font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    font-weight: 800;
    font-size: 4vw;
    letter-spacing: -0.085em;

    color: #ffffff;
	margin-left: 1.5vw;

}

p {
	color: #acc8f4;
	margin-left: 1.5vw;
}

h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 1.75vw;
    line-height: .8vw;
    /* or 175% */
    letter-spacing: -0.1em;
	margin-left: 1.5vw;
    color: #4c77bb;
}

h4 {
	color: #a2a7ae;
	font-weight: lighter;
	font-size: 1vw;

	margin-top: -3px;
	text-align: center;
}

h5 {
	color: #0099ff;
	font-size: 1.3vw;
	margin-left: 1.5vw;
}


h6 {
	margin-top: .5vw;
	margin-left: -.1vw;
	color: #26c5e5;
	font-size: 1vw;
	text-align: center;
}








ul {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin-top: calc(4 * var(--spacing));
	list-style: none;
	
	gap: 4vw;
	max-width: 13vw;
	row-gap: 8.5vw;
}

li {
	display: flex;
	flex-direction: column;
	gap: var(--spacing);

	max-width: 100%;

}

summary {
	cursor: pointer;
	color: aliceblue;
	font-size: 2vw;
	font-weight: bold;

	max-width: 14vw;
	margin-top: .5vw;
}

img {
	max-width: 340px;
	max-height: 1000px;   

	max-width: 290px;
	max-height: 1000px;
	
	object-fit: cover;
}
	



@media (max-width: 1000px) {
	.navbar, .headerbar {
		position: fixed; 
		
		width: 15%;
		}
	
		.navbar a, .headerbar a {
		float: column;
		display: block;
		color: rgb(174, 174, 174);
		text-align: center;
		padding: 25px;
		text-decoration: none; 
		font-size: 10px;
		font-weight: bolder;
		}


	

	ul {
		grid-template-columns: 1fr 1fr;
	}
	.tagline, .textlog {
		margin-left: 18vw;
		max-width: 50vw;
	}
}
@media (max-width: 740px) {
	ul {
		grid-template-columns: 1fr;
	}
	.tagline {
		max-width: 35vw;
	}
}




