* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior:smooth;
  font-family: "Inter", sans-serif;
  
}

body {
  max-width: 1280px;
  max-height: 10000px;

  background-color: rgb(0, 38, 47);

  font-family: "Inter", sans-serif;
  background-image: url('https://i.postimg.cc/8CkvcDKP/Code-Sketching.png');
  background-repeat: repeat-y;
  background-size: cover;
  background-attachment: scroll;

  overflow-x: hidden;
}


.title {
  max-width: 42vw;
  
  left: 5vw;
  top: 5vw;

  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 3vw;
}   





/* menu */
.dropdown-menu {
  position: fixed;
  z-index: 998;
}

.menu-button {
  position: fixed;
  width: 15.02vw;
  height: 2.11vw;
  left: 79.32vw;
  top: 4vw;

  font-size: 2vw;
  font-weight: 600;
  color: white;
  background-color: #003032;

  padding: 1vw 5vw;

  cursor: pointer;
  z-index: 999;
  border: none;
  border-radius: 2vw;
}

.menu {
  width: 5.429vw;

  align-items: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 1.3vw;

  
  margin-top: -.7vw;
  color: #FDFDFD;
}

.dropdown-list {
  display: none;
  position: fixed;
  width: 14.34vw;
  height: 10.32vw;
  left: 79.6vw;
  top: 3.98vw;
  right: 7.24vw;

  text-decoration: none;

  background: linear-gradient(180deg, #478F7E 0%, #8F7B47 83.33%);
  font-style: normal;
  font-weight: 400;
  font-size: 1.1019vw;
  line-height: 77.18%;
  color: #FFFFFF;

  border-radius: 1.169vw;
  z-index: 1;
  mix-blend-mode: luminosity;
}

.dropdown-list ul {
  padding: .85vw;
}

.dropdown-list a {
  width: 1.8551vw;
  height: 0.9396vw;
  left: 80.882vw;
  top: 10.8108vw;

  color: rgb(255, 255, 255);
}

.dropdown-menu:hover .dropdown-list {
  display: block;
}






/* paragraph 1 */
.paragraph1 {
  position: relative;
  right: -54.7vw;
  top: -38.7vw;
  display: flex;

  align-items: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  font-size: 1.3vw;
  line-height: 2.5vw;
  text-align: right;

  color: #006367;

  margin-right: 5vw;
  padding: 3vw;
  
  mix-blend-mode: normal;
}






/* COVID x Fire */
.covidxfire {
  position: relative;
  height: 22.042vw;
  left: 6vw;
  top: -18vw;

  mix-blend-mode: luminosity;
}





/* Dates */
.dates {
  position: relative;
  width: 49.01vw;
  height: 17.20vw;
  top: 0vw;
  left: -41.5vw;

  margin-left: 4vw;

  mix-blend-mode: multiply;
}

.rcd-text {
  position: relative;
  height: 13.41vw;
  right: -69.9vw;
  top: -27vw;
  
  text-decoration: linear-gradient(90deg, #FF9FAF 5.89%, #FFAFD2 27.71%, #FFA2BE 56.9%, #FF98B0 71.78%, #F81919 88.04%);
  
  font-family: 'Inter';
  font-style: italic;
  font-weight: 200;
  font-size: 2.6vw;
  line-height: 77.18%;
  letter-spacing: -.15vw;
  
  display: flex;
  align-items: center;
  text-align: right;
  
  color: #038000;
  
  mix-blend-mode: luminosity;
}

.rcd-num {
  position: relative;
  width: 42.22vw;
  height: 13.41vw;
  left: 53vw;
  top: -29.80000000000001vw;
  
  -webkit-text-stroke: .1vw #FFABB9; 
  -webkit-text-stroke-color: .1vw #FFABB9;

  font-family: 'Inter';
  font-style: italic;
  font-weight: 900;
  font-size: 17vw;
  
  display: flex;
  align-items: center;
  text-align: right;
  letter-spacing: -2.2vw;
  
  color: #038000;
  
  mix-blend-mode: luminosity;
}



.rolling-digits {
  display: flex;
}

.rolling-digits span, .digit-1, .digit-2, .digit-3, .digit-4, .digit-5 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4vw;
  height: 6vw;
  top: -40.5vw;

  font-family: 'Inter';
  font-style: italic;
  font-weight: 900;
  font-size: 17vw;
  line-height: 77.18%;
  text-align: right;
  letter-spacing: -0.175em;

  margin-right: 1vw;
  
  color: #038000;
  -webkit-text-stroke: 0.1vw #FFABB9;
  -webkit-text-stroke-color: #FFABB9;

  mix-blend-mode: luminosity;
}


.digit-2 {
  left: 56vw;

}

.digit-3 {
  left: 63.3vw;

}

.digit-4 {
  left: 67.5vw;

}

.digit-5 {
  left: 70vw;

}











/* Paragraphs 2 & 3*/
.paragraphs2-3 {
  display: flex;
  position: relative;
  top: -31vw;
  margin-left: 1vw;
  font-size: 1.33vw;

}
.paragraph2 {
  position: relative;
  width: 43.8vw;
  left: 4.23vw;
  display: inline-block;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  line-height: 2.446vw;
  
  color: #004346;
  
  mix-blend-mode: luminosity;
}


.paragraph3 {
  position: relative;
  display: inline-block;
  width: 44vw;
  left: 7.299999999999997vw;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  line-height: 2.446vw;

  color: #004346;

  mix-blend-mode: luminosity;
}






/* Fire Causes */
.title2 {
  position: relative;
  width: 49.47vw;
  left: 4.640000000000001vw;
  top: 6.5800000000000125vw;

  font-family: 'Lora';
  font-style: italic;
  font-weight: 700;
  font-size: 11.07vw;
  line-height: 54.8%;
  letter-spacing: -0.085em;

  color: #36BBE4;

  mix-blend-mode: luminosity;
}

.instructions1 {
  position: relative;
  height: 2.03vw;
  left: 4.640000000000001vw;
  top: 7.5vw;
  
  font-family: 'Inter';
  font-style: italic;
  font-weight: 200;
  font-size: 1.77vw;
  line-height: 116.68%;
  
  letter-spacing: -0.01vw;
  
  color: #807C61;
  
  mix-blend-mode: luminosity;
}

.more-info {
  position: relative;
  width: 12.5vw;
  height: 2.31vw;
  left: 2.6700000000000017vw;
  top: -100vw;

  
  mix-blend-mode: luminosity;
  cursor: pointer;
}

/* INFO CARDS GO HERE //////////////////////// */
.demo-card-container {
  position: relative;
  width: 100.07vw;
  height: 25vw;
  left: -0.009000000000000341vw;
  top: 11.25vw;

  overflow-x: scroll;
  mix-blend-mode: luminosity;
}

.demo-cards {
  position: relative;
  width: 178.51vw;
  height: 18.23vw;
  top: 1.72vw;
}


/* Data Breakdown button */

  .breakdown {
    position: relative;
    width: 22.93vw;
    height: 3.19vw;
    left: 4.640000000000001vw;
    top: -70.69999999999999vw;

    mix-blend-mode: luminosity;
    cursor: pointer;
  }

  .breakdown-info {
    display: none;

    position: relative;
    width: 41.41vw;
    height: 53.36vw;
    left: 5.86vw;
    top: -72vw;
  }

  .show {
    display: block;
  }



  /* Demo Data Vis */

.demo-data1 {
  position: relative;
  height: 83vw;
  left: -1.2523437499999996vw;
  top: 24.859375vw;
}




/* FAQ */
.title3 {
  position: relative;
  width: 23.046875vw;
  left: 4.199218999999999vw;
  top: 54.45625000000001vw;
  
  mix-blend-mode: luminosity;
  
}

hr {
  position: relative;
  height: 0px;
  left: 4.17109375vw;
  width: 92vw;

  border: 0.06871188vw solid #4E0B0B;
  mix-blend-mode: luminosity;
}

.line1 {
  top: 55.24687499999999vw;
  mix-blend-mode: luminosity;
}

.line2 {
  top: 60.24687499999999vw;
  mix-blend-mode: luminosity;
}

.line3 {

  top: 62.24687499999999vw;
  mix-blend-mode: luminosity;
}

.line4 {
  top: 121.24687499999999vw;
  mix-blend-mode: luminosity;
}

.line5 {
  top: 121.24687499999999vw;
  mix-blend-mode: luminosity;
}

.line6 {
  top: 121.24687499999999vw;
  mix-blend-mode: luminosity;
}





.question1 {
  position: relative;
  width: 89.453125vw;
  height: 2.12890625vw;
  left: 4.453125vw;
  top: 60.09765625vw;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 2.960625vw;
  line-height: 3.90625vw;


  color: #64481d;;
  mix-blend-mode: luminosity;
}

.question2 {
  position: relative;
  width: 89.77vw;
  height: 1.155vw;
  left: 4.31vw;
  top: 64.625vw;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 2.96vw;
  line-height: 4.0vw;

  color: #453600;
}

.question3 {
  position: relative;
  width: 81.4531vw;
  height: 3.90625vw;
  left: 4.990625vw;
  top: 67.484375vw;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 2.963671875vw;
  line-height: 4.1015625vw;
  
  color: #453600;
  
  mix-blend-mode: luminosity;
}

.question4 {
  top: 121.24687499999999vw;
  mix-blend-mode: luminosity;
}

.question5 {
  top: 121.24687499999999vw;
  mix-blend-mode: luminosity;
}

.question6 {
  top: 121.24687499999999vw;
  mix-blend-mode: luminosity;
}





.answer1 {
  position: relative;
  width: 67.4219vw;
  height: 56.5625vw;
  left: 8.75vw;
  top: 74.15629999999999vw;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 1.4063vw;
  line-height: 3.9063vw;
  
  color: #453600;
  
  mix-blend-mode: luminosity;
  mix-blend-mode: luminosity;
}

.answer2 {
  position: relative;
  width: 67.34vw;
  height: 23.438vw;
  left: 9.09375vw;
  top: 75.234375vw;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 1.40625vw;
  line-height: 3.90625vw;

  color: #453600;
  mix-blend-mode: luminosity;
}

.answer3 {
  position: relative;
  width: 67.34375vw;
  height: 27.109375vw;
  left: 8.75vw;
  top: 85.08203125vw;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 1.40625vw;
  line-height: 3.90625vw;

  color: #453600;
  mix-blend-mode: luminosity;
}

.answer4 {
  top: 121.24687499999999vw;
  mix-blend-mode: luminosity;
}

.answer5 {
  top: 121.24687499999999vw;
  mix-blend-mode: luminosity;
}

.answer6 {
  top: 121.24687499999999vw;
  mix-blend-mode: luminosity;
}


.placeholder-container1 {
  position: relative;
  top: 80.75vw;
}

.placeholder1A {
  position: relative;
  width: 90%;
  height: 28vw;
  left: 5%;
  
  mix-blend-mode: difference;
}

.placeholder1B {
  position: relative;
  width: 85%;
  height: 27vw;
  left: 7.5%;
  top: -28.25vw;
}

.placeholder2 {
  position: relative;
  width: 83.36vw;
  height: 23.2vw;
  left: 8.36vw;
  top: 83.39999999999998vw;

  mix-blend-mode: luminosity;
}

.placeholder3 {
  position: relative;
  width: 85.55vw;
  height: 33.33vw;
  left: calc(50% - 85.55vw/2 - 0.19vw);
  top: 58.90vw;

  mix-blend-mode: luminosity;
}

.placeholder4 {
  top: 121.24687499999999vw;
  mix-blend-mode: luminosity;
}

.placeholder5 {
  top: 121.24687499999999vw;
  mix-blend-mode: luminosity;
}

.placeholder6 {
  top: 121.24687499999999vw;
  mix-blend-mode: luminosity;
}






































































































































































































































































































































































































































.blur {
  position: relative;
  width: 144.31vw;
  height: 26.56vw;
  left: -18.159999999999997vw;
  top: 94.88vw;
  background: linear-gradient(79.8deg, #47A4D2 3.61%, #71D8DA 18.58%, #DDF8E2 32.71%, #F6FAF6 43.52%, #FBF3C0 58.07%, #F8DB77 72.62%, #F6C978 82.6%);
  filter: blur(3.13vw);
  z-index: -5;
}



.bts-btn {
  position: relative;
  height: 4vw;
  left: 39.6vw;
  bottom: -430vw;
  mix-blend-mode: luminosity;
}

.footer {
  position: relative;
  width: 100%;
  height: 10vh;
  bottom: -431vw;
  right: 0;
  background: #623E00;
  mix-blend-mode: luminosity;
}

/*

BUTTON AND FOOTER /////////////////////////////////////////////////////////////////////////


.footer {
  position: relative;
  width: 100%;
  height: 10vh;
  bottom: 0;
  right: 0;
  background: #623E00;
  mix-blend-mode: luminosity;
}
*/