* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior:smooth;
  font-family: "Inter", sans-serif;
  
}

body {
  max-width: 1280px;
  max-height: 11379px;

  background-color: rgb(0, 38, 47);

  font-family: "Inter", sans-serif;
  background-image: url('https://i.postimg.cc/8CkvcDKP/Code-Sketching.png');
  background-repeat: repeat-y;
  background-size: cover;
  background-attachment: scroll;

  overflow-x: hidden;
}


.title {
  max-width: 42vw;
  
  left: 5vw;
  top: 5vw;

  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 3vw;
}   





/* menu */
.dropdown-menu {
  position: fixed;
  z-index: 998;
}

.menu-button {
  position: fixed;
  width: 15.02vw;
  height: 2.11vw;
  left: 79.32vw;
  top: 4vw;

  font-size: 2vw;
  font-weight: 600;
  color: white;
  background-color: #003032;

  padding: 1vw 5vw;

  cursor: pointer;
  z-index: 999;
  border: none;
  border-radius: 2vw;
}

.menu {
  width: 5.429vw;

  align-items: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 1.3vw;

  
  margin-top: -.7vw;
  color: #FDFDFD;
}

.dropdown-list {
  display: none;
  position: fixed;
  width: 14.34vw;
  height: 10.32vw;
  left: 79.6vw;
  top: 3.98vw;
  right: 7.24vw;

  text-decoration: none;

  background: linear-gradient(180deg, #478F7E 0%, #8F7B47 83.33%);
  font-style: normal;
  font-weight: 400;
  font-size: 1.1019vw;
  line-height: 77.18%;
  color: #FFFFFF;

  border-radius: 1.169vw;
  z-index: 1;
  mix-blend-mode: luminosity;
}

.dropdown-list ul {
  padding: .85vw;
}

.dropdown-list a {
  width: 1.8551vw;
  height: 0.9396vw;
  left: 80.882vw;
  top: 10.8108vw;

  color: rgb(255, 255, 255);
}

.dropdown-menu:hover .dropdown-list {
  display: block;
}






/* paragraph 1 */
.paragraph1 {
  position: relative;
  right: -54.7vw;
  top: -38.7vw;
  display: flex;

  align-items: center;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  font-size: 1.3vw;
  line-height: 2.5vw;
  text-align: right;

  color: #006367;

  margin-right: 5vw;
  padding: 3vw;
  
  mix-blend-mode: normal;
}






/* COVID x Fire */
.covidxfire {
  position: relative;
  height: 22.042vw;
  left: 6vw;
  top: -18vw;

  mix-blend-mode: luminosity;
}





/* Dates */
.dates {
  position: relative;
  width: 49.01vw;
  height: 17.20vw;
  top: 0vw;
  left: -41.5vw;

  margin-left: 4vw;

  mix-blend-mode: multiply;
}

.rcd-text {
  position: relative;
  height: 13.41vw;
  right: -69.9vw;
  top: -27vw;
  
  text-decoration: linear-gradient(90deg, #FF9FAF 5.89%, #FFAFD2 27.71%, #FFA2BE 56.9%, #FF98B0 71.78%, #F81919 88.04%);
  
  font-family: 'Inter';
  font-style: italic;
  font-weight: 200;
  font-size: 2.6vw;
  line-height: 77.18%;
  letter-spacing: -.15vw;
  
  display: flex;
  align-items: center;
  text-align: right;
  
  color: #038000;
  
  mix-blend-mode: luminosity;
}

.rcd-num {
  position: relative;
  width: 42.22vw;
  height: 13.41vw;
  left: 53vw;
  top: -29.80000000000001vw;
  
  -webkit-text-stroke: .1vw #FFABB9; 
  -webkit-text-stroke-color: .1vw #FFABB9;

  font-family: 'Inter';
  font-style: italic;
  font-weight: 900;
  font-size: 17vw;
  
  display: flex;
  align-items: center;
  text-align: right;
  letter-spacing: -2.2vw;
  
  color: #038000;
  
  mix-blend-mode: luminosity;
}



.rolling-digits {
  display: flex;
}

.rolling-digits span, .digit-1, .digit-2, .digit-3, .digit-4, .digit-5 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4vw;
  height: 6vw;
  top: -40.5vw;

  font-family: 'Inter';
  font-style: italic;
  font-weight: 900;
  font-size: 17vw;
  line-height: 77.18%;
  text-align: right;
  letter-spacing: -0.175em;

  margin-right: 1vw;
  
  color: #038000;
  -webkit-text-stroke: 0.1vw #FFABB9;
  -webkit-text-stroke-color: #FFABB9;

  mix-blend-mode: luminosity;
}


.digit-2 {
  left: 56vw;

}

.digit-3 {
  left: 63.3vw;

}

.digit-4 {
  left: 67.5vw;

}

.digit-5 {
  left: 70vw;

}











/* Paragraphs 2 & 3*/
.paragraphs2-3 {
  display: flex;
  position: relative;
  top: -31vw;
  margin-left: 1vw;
  font-size: 1.33vw;

}
.paragraph2 {
  position: relative;
  width: 43.8vw;
  left: 4.23vw;
  display: inline-block;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  line-height: 2.446vw;
  
  color: #004346;
  
  mix-blend-mode: luminosity;
}


.paragraph3 {
  position: relative;
  display: inline-block;
  width: 44vw;
  left: 7.299999999999997vw;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 200;
  line-height: 2.446vw;

  color: #004346;

  mix-blend-mode: luminosity;
}






/* Fire Causes */
.title2 {
  position: relative;
  width: 49.47vw;
  left: 4.640000000000001vw;
  top: 6.5800000000000125vw;

  font-family: 'Lora';
  font-style: italic;
  font-weight: 700;
  font-size: 11.07vw;
  line-height: 54.8%;
  letter-spacing: -0.085em;

  color: #36BBE4;

  mix-blend-mode: luminosity;
}

.instructions1 {
  position: relative;
  height: 2.03vw;
  left: 4.640000000000001vw;
  top: 7.5vw;
  
  font-family: 'Inter';
  font-style: italic;
  font-weight: 200;
  font-size: 1.77vw;
  line-height: 116.68%;
  
  letter-spacing: -0.01vw;
  
  color: #807C61;
  
  mix-blend-mode: luminosity;
}

.more-info {
  position: absolute;
  width: 12.5vw;
  height: 2.31vw;
  left: 82.67vw;
  top: 184vw;

  
  mix-blend-mode: luminosity;
  cursor: pointer;
}

/* INFO CARDS GO HERE //////////////////////// */
.demo-card-container {
  position: relative;
  display: flex;
  width: 100.07vw;
  height: 25vw;
  left: -0.009000000000000341vw;
  top: 11.25vw;

  overflow-x: scroll;
  mix-blend-mode: luminosity;
}

.card1, .card2, .card3, .card4, .card5, .card6,.card7, .card8, .card9, .card10, .card11, .card12 {
  position: relative;
  width: 178.51vw;
  height: 18.23vw;
  top: 1.72vw;

  margin: 1vw;
}

.image-container2 {
  position: relative;
  white-space: nowrap;

  width: 100.07vw;
  height: 48vw;
  top: 11.110000000000014vw;
  
  overflow-x: scroll;
  display: none;
}

.info1, .info2, .info3, .info4, .info5, .info6,.info7, .info8, .info9, .info10, .info11, .info12 {
  position: relative;
  width: 12vw;


  margin: 1.2vw;
}

.info1 {
  top: -14vw;
}

.info2 {
  top: -7vw;
}

.info3 {
  top: -2.5vw;
}

.info4 {
  top:  -5vw;
}

.info5 {
  top: -13.5vw;
}

.info6{
  top: -4vw;
}

.info7 {
  top: 0vw;
}

.info8 {
  top: -2.5vw;
}

.info9 {
  top: -5vw;
}

.info10 {
  top: -4.36vw;
}

.info11 {
  top: -9.5vw;
}

.info12 {
  top: -.5vw;
}


/* Data Breakdown button */

  .breakdown {
    position: relative;
    width: 22.93vw;
    height: 3.19vw;
    left: 4.640000000000001vw;
    top: -156.7vw;

    mix-blend-mode: luminosity;
    cursor: pointer;
  }

  .breakdown-info {
    display: none;

    position: relative;
    width: 41.41vw;
    height: 53.36vw;
    left: 5.86vw;
    top: -72vw;
  }

  .show {
    display: block;
  }



  /* Demo Data Vis */

.demo-data1 {
  position: relative;
  height: 103.33vw;
  left: -0.25234374999999964vw;
  top: 45.5vw;
}



.rectangle-container {
  position: relative;
    width: 15.579999999999998vw;
    height: 65.6vw;
    top: -53.9vw;
    left: 48vw;
  }
#rectangles-container {
  height: 65.6vw;
}
  
  

  .causes-container {
    position: relative;
    width: 7.796875vw;
    left: 65.828125vw;
    top: -358vw;
  }
  



  .cause1 {
    position: relative;
    height: 1vw;
    top: 237.5vw;
    left: 1.5vw;
  }
  .cause2 {
    position: relative;
    height: 1.2vw;
    top: 237.5vw;
    left: 0.3vw;
}
  .cause3 {
    position: relative;
    height: 1.3vw;

    top: 237.9453125vw;
  }
  .cause4 {
    position: relative;
    height: 1.7vw;

    top: 238vw;
  }
  .cause5 {
    position: relative;
    height: 1.43984375vw;

    top: 239vw;
  }
  .cause6 {
    position: relative;
    height: 1.72578125vw;

    top: 240.37109375vw;
  }
  .cause7 {
    position: relative;
    height: 1.72578125vw;

    top: 242.6953125vw;
  }
  .cause8 {
	position: relative;
    height: 1.72578125vw;

    top: 245.984375vw;
  }
  .cause9 {
    position: relative;
    height: 1.72578125vw;

    top: 249.546875vw;
  }
  .cause10 {
	position: relative;
    height: 1.72578125vw;

    top: 254.4765625vw;
  }
  .cause11 {
    position: relative;
    height: 1.72578125vw;

    top: 260.890625vw;
  }
  .cause12 {
    position: relative;
    height: 1.72578125vw;
    
    top: 273.5625vw;
  }
  .cause13 {
    position: relative;
    height: 1.72578125vw;
    
    top: 295.5625vw;
  }


/* FAQ */
.title3 {
  position: relative;
  width: 23.046875vw;
  left: 4.199218999999999vw;
  top: 54.45625000000001vw;
  
  mix-blend-mode: luminosity;
  
}

hr {
  position: relative;
  height: 0px;
  left: 4.17109375vw;
  width: 92vw;

  border: 0.06871188vw solid #4E0B0B;
  mix-blend-mode: luminosity;
}

.line1 {
  top: 55.24687499999999vw;
  mix-blend-mode: luminosity;
}

.line2 {
  top: 60.24687499999999vw;
  mix-blend-mode: luminosity;
}

.line3 {

  top: 88.24687499999999vw;
  mix-blend-mode: luminosity;
}

.line4 {
  top: 114.54vw;
  mix-blend-mode: luminosity;
}

.line5 {
  top: 166.246875vw;
  mix-blend-mode: luminosity;
}






.question1 {
  position: relative;
  width: 89.453125vw;
  height: 2.12890625vw;
  left: 4.453125vw;
  top: 60.09765625vw;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 2.960625vw;
  line-height: 3.90625vw;


  color: #64481d;;
  mix-blend-mode: luminosity;
}

.question2 {
  position: relative;
  width: 89.77vw;
  height: 1.155vw;
  left: 4.31vw;
  top: 64.625vw;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 2.96vw;
  line-height: 4.0vw;

  color: #453600;
}

.question3 {
  position: relative;
  width: 82.4531vw;
  height: 3.90625vw;
  left: 4.990625vw;
  top: 93.484375vw;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 2.963671875vw;
  line-height: 4.1015625vw;
  
  color: #453600;
  
  mix-blend-mode: luminosity;
}

.question4 {
  position: relative;
  width: 82.4531vw;
  height: 3.90625vw;
  left: 4.990625vw;
  top: 121.484375vw;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 2.963671875vw;
  line-height: 4.1015625vw;
  
  color: #453600;
  
  mix-blend-mode: luminosity;
}








.answer1 {
  position: relative;
  width: 67.4219vw;
  height: 56.5625vw;
  left: 8.75vw;
  top: 74.15629999999999vw;
  
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 1.4063vw;
  line-height: 3.9063vw;
  
  color: #453600;
  
  mix-blend-mode: luminosity;
  mix-blend-mode: luminosity;
}

.answer2 {
  position: relative;
  width: 67.34vw;
  height: 23.438vw;
  left: 9.09375vw;
  top: 75.234375vw;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 1.40625vw;
  line-height: 3.90625vw;

  color: #453600;
  mix-blend-mode: luminosity;
}

.answer3 {
  position: relative;
  width: 67.34375vw;
  height: 27.109375vw;
  left: 8.75vw;
  top: 102.08203125vw;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 1.40625vw;
  line-height: 3.90625vw;

  color: #453600;
  mix-blend-mode: luminosity;
}

.answer4 {
  position: relative;
  width: 67.34375vw;
  height: 27.109375vw;
  left: 8.75vw;
  top: 125vw;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 1.40625vw;
  line-height: 3.90625vw;

  color: #453600;
  
  mix-blend-mode: luminosity;
}








.placeholder-container1 {
  position: relative;
  top: 80.75vw;
}

.placeholder1A {
  position: relative;
  width: 90%;
  height: 28vw;
  left: 5%;
  
  mix-blend-mode: difference;
}

.placeholder1B {
  position: relative;
  width: 85%;
  height: 27vw;
  left: 7.5%;
  top: -28.25vw;
}

.placeholder2 {
  position: relative;
  width: 83.36vw;
  height: 23.2vw;
  left: 8.36vw;
  top: 83.39999999999998vw;

  mix-blend-mode: luminosity;
}

.placeholder3 {
  position: relative;
  width: 83vw;
  height: 51vw;
  top: 105.9vw;
  left: 8vw;

  mix-blend-mode: difference;
}

.placeholder4 {
  position: relative;
  width: 85.46875vw;
  height: 23.59375vw;
  left: 7.34375vw;
  top: 162.953125vw;
  
  mix-blend-mode: luminosity;
}



/* Data Breakdowns */

.title4 {
  position: relative;
  width: 72.76400000000001vw;
  left: 3.828vw;
  top: 198.397vw;
  
  mix-blend-mode: luminosity;
}


.instructions2 {
  position: relative;
  left: 4vw;
  top: 200.22000000000003vw;
  
  font-family: 'Inter';
  font-style: italic;
  font-weight: 400;
  font-size: 1.7567vw;
  line-height: 2.03vw;
  
  color: #735f17;
  
  mix-blend-mode: luminosity;
}



.demo-data-container {
  position: relative;
  top: 206.25vw;

  white-space: nowrap;

  width: 100.07vw;
  height: 48vw;
  
  overflow-x: scroll;
}

.demo-data2 {
  position: relative;
  width: 200vw;
  overflow-x: scroll;
}


.image-container2 {
  position: relative;
  white-space: nowrap;

  width: 100.07vw;
  height: 52vw;
  top: 11.110000000000014vw;
  
  overflow-x: scroll;
  display: none;
}

.data1, .data2, .data3, .data4, .data5, .data6,.data7 {
  position: relative;
  height: 35vw;

  margin: 3vw;
}

.data1  {
  mix-blend-mode: luminosity;
}

.data2, .data3, .data5 {
  mix-blend-mode: multiply;
}

.data4, .data6, .data7 {
  mix-blend-mode: difference;
}



























































































































































































































































































































































































































.blur {
  position: relative;
  width: 144.31vw;
  height: 26.56vw;
  left: -18.159999999999997vw;
  top: 94.88vw;
  background: linear-gradient(79.8deg, #47A4D2 3.61%, #71D8DA 18.58%, #DDF8E2 32.71%, #F6FAF6 43.52%, #FBF3C0 58.07%, #F8DB77 72.62%, #F6C978 82.6%);
  filter: blur(3.13vw);
  z-index: -5;
}



.bts-btn {
  position: relative;
  height: 4vw;
  left: 40.6vw;
  bottom: -226vw;
  mix-blend-mode: luminosity;
}

.footer {
  position: relative;
  width: 100%;
  height: 10vh;
  bottom: -228vw;
  right: 0;
  background: #623E00;
  mix-blend-mode: luminosity;
}

/*

BUTTON AND FOOTER /////////////////////////////////////////////////////////////////////////


.footer {
  position: relative;
  width: 100%;
  height: 10vh;
  bottom: 0;
  right: 0;
  background: #623E00;
  mix-blend-mode: luminosity;
}
*/




