@media (min-width: 530px) {
    body {
        font-family: Arial, Helvetica, sans-serif;
        background-color: #c3d7d0;
        white-space: normal;
        vertical-align: top;
        display: inline-block;
        margin-right: 80px;
        margin-left: 80px; 
    }

    .flex-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
	    align-content: space-between;
    }

    /* Elian - Core - Feb */

    .header0A, .header0B {
        font-weight: lighter;
        font-size: 11px;
        color: #19833A;
        text-align: left;
    }


    /* The Garden of Forking Path*/

    .heading1 {
        font-weight: bolder;
        text-align: left;
        font-size: 64px;
        letter-spacing: -7px;
        color: #00360F;
        margin-bottom: -20px;
    }

    /* By Jorge Luis Borges*/

    .subheading1 a {
        font-weight: lighter;
        text-align: left;
        font-size: 50px;
        letter-spacing: -3px;
        color: #ffffff;
    }

    .subheading1 a:hover {
        color: lightseagreen;
    }

    /* On labrynths and simultaneous, branching realities. */

    .subheading2, .subheading2B a {
        font-weight: bold;
        text-align: left;
        font-size: 20px;
        letter-spacing: -1px;
        color: #00574b;
        font-family: 'Paprika', sans-serif;
    }

    /* first paragraph, left */

    .paragraph1 {
        font-weight: lighter;
        font-size: 20px;
        color: #19833A;
        line-height: 30px;
        min-width: 564px;
    }


    /* second paragraph, right */

    .paragraph2 {
        font-weight: lighter;
        font-size: 16px;
        color: #ffffff;
        text-align: center;
        font-style: italic;
        line-height: 30px;
        font-family: 'Paprika', sans-serif;
    }

    /* Assistant Regular, Assistant ExtraBold */

    .typeface1 , .typeface2 {
        color: #ffffff;
        letter-spacing: -5px;
        

    }

    .typeface1 {
        font-size: 60px;
        font-weight: lighter;
        line-height: 55px;
        font-family: 'Paprika', sans-serif;
    }

    .typeface2 {
        font-size: 74px;
        font-weight: bolder;
        line-height: 55px;
        margin-top: -50px;

    }


    /* third paragraph, right */

    .paragraph3A, .paragraph3B {
        font-weight: lighter;
        font-size: 20px;
        color: #19833A;
        line-height: 30px;
        text-align: right;
        margin-top: 40px;
    }

    .paragraph3A {
        text-align: right;
    }

    .paragraph3B {
        text-align: right;
    }


    /* fourth paragraph, left */

    .paragraph4A {
        font-weight: lighter;
        font-size: 16px;
        color: #ffffff;
        text-align: left;
        font-style: italic;
        line-height: 30px;
        font-family: 'Paprika', sans-serif;
    }

    .paragraph4B a {
        font-weight: bolder;
        font-size: 40px;
        color: #ffffff;
        text-align: right;
        line-height: 30px;
        letter-spacing: -2px;
    }

    .paragraph4B a:hover {
        color: lightseagreen;
    }





/*stop when this is deleted*/



}